<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Movie Review</title>
	<link rel="stylesheet" type="text/css" href="./reviews-full-stack-style.css" />
	<link rel="stylesheet" type="text/css" href="./reviews-full-stack-layout.css" />

</head>

<body>
	<div class="container">
		<header>
			<h1>Movies</h1>
		</header>
		<div>
			<h2 th:text="'Movie Tag: ' + ${tag.tagName}"></h2>
		</div>
		<div class="category-page-item-1">
			<h2>Choose A Movie</h2>
		</div>
		
		<div class="category-page-item-2" th:each="tagReviews: ${tag.reviews}">
		<!-- category((iterateable value)give it a singular name)
		{tag ==link to @RequestMapping in controller 
			.reviews}==Name of "mappedBy = ' ' " in your tag class-->
			
			<h2><a class="category-page-item-3" th:href="@{/review(id=${tagReviews.id})}" th:text="${tagReviews.movieTitle}"></a></h2>
		</div>
		<footer>
			<p id="copyWrite">&copy; 2017</p>
		</footer>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/jquery-3.2.1.js"></script>
	<script src="/js/categories-app.js"></script>
</body>
</html>